<h1>西村義史の在庫管理アプリ</h1>
<h2>最初のログインのページ</h2>

 <%# <%= link_to "新規登録はこちらへ！", signup_path, class: "btn btn-lg btn-primary" %> %>
</div>

<%= link_to image_tag("top-pic", alt: "top-pic", width: "400px")%>