default: &default
  adapter: mysql2
  encoding: utf8mb4
  charset: utf8mb4
  collation: utf8mb4_bin
  username: <%= ENV['DB_USERNAME'] || 'root' %>
  password: <%= ENV['DB_PASSWORD'] || 'password' %>
  pool: <%= ENV['RAILS_MAX_THREADS'] || 5 %>
  database: inventory
  timeout: 5000

development:
  <<: *default
  host: <%= ENV['DB_HOST'] || '127.0.0.1' %>
  port: <%= ENV['DB_PORT'] || 3306 %>

test:
  <<: *default
  host: <%= ENV['DB_HOST'] || '127.0.0.1' %>
  port: <%= ENV['DB_PORT'] || 3306 %>
  database: test

production:
  <<: *default
  url: <%= ENV['DATABASE_URL'] %>
