<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
        <h1>取扱企業のデータ編集</h1>
        </div>
        <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><%= link_to 'ホーム' %></li>
            <li class="breadcrumb-item active">取扱企業のデータ編集</li>
        </ol>
        </div>
    </div>
  </div>
</section>
<%= render 'form', enterprise: @enterprise %>
